@include keyframe(fadeout) {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@include keyframe(fadein) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframe(changecolour) {
    0% {
        color: hsl(150, 100, 4);
    }

    100% {
        color: hsl(40,69,97)
    }
}



.fade-out {
    background-color: transparent;
    transition: all .5s ease-in-out;
  }
     
  .fade-in {
  @include animation(0s, 2s, fadein);
  }