@import 'reset';
@import 'fonts';
@import 'colors';
@import 'type-scale';
@import 'variables';
@import 'mixins';
@import 'root';
@import 'cards';
@import 'menu';
@import 'post';
@import 'keyframe';
@import 'cursor';
@import 'about';
@import '404';


a {
  text-decoration: none;
  font-family: $sans;
  cursor: none;
}
   
h1 {
  @include font-size($h1-font-sizes);
  font-family: $sans;
}
   
p, ul, ol, a {
  @include font-size($p-font-sizes);
}

p {
  font-family: $serif;
}

     
section {
    padding: 0 163px;
      @include mq(mid) {
        padding: 0 53px;
      }
      @include mq(small) {
      padding: 0 35px;
    }
}

.home-page-block {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  .wp-block-columns {

    position: relative;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 163px;

    @include animation(0s, 2s, fadein);

    @include mq(mid) {
      padding: 0 53px;
    }

    @include mq(small) {
     margin-top: 1em;
     margin-bottom: 5em;
     padding: 15px 35px;
     height: 70vh;
   }
  }
  .reverse{
    flex-direction: row-reverse;
    gap:2em;
    @include mq(mid) {
      flex-direction: unset;
      gap:0;
    }
    @include mq(small) {
      flex-direction: unset;
      align-content: space-evenly;
   }
  }
}

.wp-block-columns:first-child, 
.wp-block-columns:nth-child(2){
  &::after{
    content: url(../img/umber-arrow-right.svg);
    position: absolute;
    bottom: 30px;
    transform: rotate(90deg) scale(2);
  }
  @include mq(small) {
    margin-bottom: 6.5em;
    &::after {
         bottom: -30px;
    }
  }
}


.home-page-block {
  h2 {
    color: #c58063;
    font-family: "BentonSans-Regular",Helvetica,Arial,sans-serif;
    font-size: 17px;
    }
    a {
      @include hover-line-revers;
      position:relative;
      font-family: $sans;
      @include font-size($p-font-sizes);
      color:var(--clr-green-500);
      &::after {
      content:url(../img/green-arrow.svg);
      margin-left:10px;
      top: 10px;
      border-bottom:0;
      position: absolute;
      }
      &:hover{
        color:var(--clr-umber-300);
        &::after {
          content:url(../img/umber-arrow-right.svg);
        }
      }
    }
    p {
      font-family: $serif;
      font-size: 22px;
      line-height: $line-height-headings;
      padding: 22px 0px 30px 0px;
      max-width: 375px;

      @include font-size($p-header-font-sizes);

      @include mq(small){
        padding: 10px 0px 18px 0px;
        font-size: 20px;
      }
  }
}

.wp-block-column {
  p:last-child{
      padding-bottom: 0;
      @include mq(small){
        padding-bottom: 18px;
      }
  }
}

// /* for scroll snapping on larger screens */
@supports (scroll-snap-type: y mandatory) {
  @media (min-width: 640px) {
    html {
      scroll-snap-type: y mandatory;
      overflow-y: scroll; 
      scroll-padding: 50px 0 0 0;
    }
    div.header, .wp-block-columns, div.footer {
      scroll-snap-align: start;
    } 
    footer {
      scroll-snap-stop: normal;
    }
  }
}

div.header {
  padding-top: 0.5em;
}

.links, .page-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  a {
    margin:$line-height-base 45px 3 45px;
  }
}

.link {
  padding: 0;
  a {
    @include hover-line-revers;
    position:relative;
    font-family: $sans;
    @include font-size($p-font-sizes);
    color:var(--clr-green-500);
    &::after {
    content:url(../img/green-arrow.svg);
    margin-left:10px;
    border-bottom:0;
    position: absolute;
    }
    &:hover{
      color:var(--clr-umber-300);
      &::after {
        content:url(../img/umber-arrow-right.svg);
      }
    }
  }
}


.wp-block-image {
  margin: 0;
  img {
      object-fit: contain;
      max-width: 100%;
  }
}

img {
  object-fit: contain;
  max-width: 100%;
}
   
#footer {
padding: 80px;
font-family: $sans;
background-color: var(--clr-green-500);
color: var(--clr-rose-100);
margin-top:auto;
@include mq(small) {
height: 35vh;
}
.footer_wrapper {
  @include mq(small){
    padding: 40px;
  }
}

.copyright {
  @include flexCenter(row);
  p, a {
    font-size: 14px;
    @include mq(small) {
      line-height: 1.8;
      font-size: 12px;
    }
  }
  a:hover {
    color:var(--clr-rose-100);
  }
}
  .contact,
  .socials,
  .back-to-top,
  .copyright {
    padding:22px;
    @include mq(small) {
      padding:15px;
    }
  }
  a {
    color: var(--clr-rose-100);
    transition: $default-transition;
  }
  .socials a {
    padding:15px;  
    .fab{
      transition: $default-transition;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .copyright a {
    color: var(--clr-green-200);
    line-height: 2;
  }
  .copyright a,
  .back-to-top a,
  .email a {
    @include hover-line-revers;
  }
  .back-to-top a{
    position:relative;
    &::after  {
    content:url(../img/vector-3.svg);
    top:-18px;
    right: 65px;
    border-bottom:0;
    position: absolute;
    }
  }
  @include mq(mid) {
    padding:25px;
  }

}